*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* barra di navigazione sinistra */
header{
    display: flex;
}


nav{
    display: inline-block;
}

#barra-navigazione{
    width: 13vw;
    height: 100vh;
    background-color: black;
}

header nav #barra-navigazione img{
    width: 60%;
    margin: 15px;
    margin-bottom: 25px;
}

header nav ul li{
    padding-left: 15px;
    margin-bottom: 20px;
}

header nav ul li a{
    color: #acacac;
    text-decoration: none;
    font-size: 15px;
}

header nav ul li a:hover{
    color: white;
}

header nav ul li a i{
    margin-right: 20px;
    font-size: 25px;
}

/* playlist nuove */
h2{
    color: white;
    margin-left: 15px;
    font-size: 12px;
}

.fa-plus-square{
    color: #acacac;
    margin-top: 25px;
    margin-left: 15px;
    font-size: 50px;
}

a .fa-plus-square:hover, span:hover{
    color: white;
}

span{
    color: #acacac;
    line-height: 15px;
    font-size: 20px;    
    margin-left: 10px;
}

#playlist li{
    color: #acacac;
    font-size: 15px;
    margin-top: 20px;
}

#playlist li:hover{
    color: white;
}

/* installa app + profilo utente */
.fa-arrow-circle-down{
    color: #acacac;
    margin-left: 15px;
    margin-top: 90px;
}

#installa{
    font-size: 15px;
}

.fa-user-circle{
    color: #acacac;
    margin-left: 15px;
    margin-top: 25px;
    font-size: 25px;
}

#profilo{
    text-decoration: none;
    color: #acacac;
    border-top: 2px solid #acacac;
    padding-top: 15px;
}

#profilo:hover{
    color: white;
}

/* barra upgrade */
#upgrade{
    background-color: #080b12;
    width: calc(100% - 100px);
    height: 80px;
    display: inline-block;
}