*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #141922;
    position: relative;
}

/* barra di navigazione sinistra */
header{
    display: flex;
    width: 100vw;
    margin-left: 245px;
    position: fixed;
    z-index: 30;
}

#barra-navigazione{
    width: 100%;
    /* height: 850px; */
    /* background-color: black; */
    display: block;
    height: calc(101vh - 98px);
}

nav{
    background-color: black;
    height: 850px;
    width: 13%;
    float: left;
}

nav #barra-navigazione img{
    width: 60%;
    margin: 15px;
    margin-bottom: 25px;
}

nav ul li{
    padding-left: 15px;
    margin-bottom: 20px;
}

nav ul li a{
    color: #acacac;
    text-decoration: none;
    font-size: 15px;
}

nav ul li a:hover{
    color: white;
}

nav ul li a i{
    margin-right: 20px;
    font-size: 25px;
}

#bordo-sinistro{
    border-left: 2.5px solid #96d92d;    
}

/* playlist nuove */
h2{
    color: white;
    margin-left: 15px;
    font-size: 12px;
}

.fa-plus-square{
    color: #acacac;
    margin-top: 25px;
    margin-left: 15px;
    font-size: 50px;
}

a .fa-plus-square:hover, span:hover{
    color: white;
}

span{
    color: #acacac;
    line-height: 15px;
    font-size: 20px;    
    margin-left: 10px;
}

#playlist li{
    color: #acacac;
    font-size: 15px;
    margin-top: 20px;
}

#playlist ul{
    overflow-y: scroll;
    height: 35vh;
}

#playlist li:hover{
    color: white;
}

/* installa app + profilo utente */
.fa-arrow-circle-down{
    color: #acacac;
    margin-left: 15px;
    margin-top: 40px;
}

#installa{
    font-size: 15px;
}

.fa-user-circle{
    color: #acacac;
    margin-left: 15px;
    font-size: 25px;
}

#profilo{
    text-decoration: none;
    color: #acacac;
    /* border-top: 2px solid #acacac; */
    /* padding-top: 15px; */
}

hr{
    margin: 10px 10px;
}

#profilo:hover{
    color: white;
}

#blocco-installazione-profilo{
    margin-left: 15px;
    width: 90%;
    height: 100px;
}

/* barra upgrade */
#upgrade{
    background-color: #080b12;
    width: calc(100% - 13%);
    height: 80px;
    display: inline-block;
    padding-top: 15px;
    padding-right: 250px;
    opacity: 0.7;
}

#pulsante-upgrade{
   /*  width: 100%; */
    margin-left: 79%;
    color: white;
    text-decoration: none;
    border: 4px solid white;
    padding: 10px 25px;
    border-radius: 20px;
    display: block;
    text-align: center;
}

#pulsante-upgrade:hover{
    font-size: 20px;
}

/* corpo della pagina */
#container{
    display: flex;
    width: calc(100% - 13%);
    overflow-y: scroll;
    float: left;
    height: 90vh;
    /* height: 100vh; */
}

#opzioni-navigazione{
    width: 100%;
    height: 40px;
/*     background-color: white; */
    margin-top: 90px;
    text-align: center;
    flex-wrap: wrap;
}

#opzioni-navigazione ul a{
    text-decoration: none;
    color: #7f8187;
}

#opzioni-navigazione ul a li{
    display: inline-block;
    margin: 0 10px;
}

a li:hover{
    color: white;
   /*  border-bottom: 2px solid #96d92d; */
}

#bordobottom{
    border-bottom: 1px solid #96d92d;
}

/* parte con tutti gli album */
#titolo{
    /* background-color: white; */
    margin-top: 25px;
    /* height: 50px; */
    width: 100%;
    padding-right: 84%;
    color: white;
    font-size: 15px;
}

.riga{
    margin-top: 20px;
    /* background-color: white; */
    width: 99%;
    display: flex;
    margin-left: 15px;
    flex-wrap: wrap;
}

h3{
    color: white;
}

.sottotitolo{
    color: white;
    font-size: 15px;
}

.copertine{
    position: relative;
}

.copertine img{
    width: 100%;
    height: 220px;
    z-index: 10;
}

/* bottone play */
.fa-play{
    color: white;
    border: 4px solid white;
    padding: 10px;
    border-radius: 25px;
    font-size: 30px;
    position: absolute;
    left: 85px;
    top: 85px;
    z-index: -30;
}

.bottoneplay{
    width: 220px;
    height: 220px;
    position: absolute;
/*     background-color: white; */
    top: 0;
}

.bottoneplay:hover{
    background-color: #282828;
    opacity: 0.7;
    z-index: 30;
}

.bottoneplay-rotondo{
    border-radius: 102px;
    width: 220px;
    height: 220px;
    position: absolute;
/*     background-color: white; */
    top: 0;
}

.bottoneplay-rotondo:hover{
    background-color: #282828;
    opacity: 0.7;
    z-index: 30;
}
/* seconda riga */
.suggerimento{
    margin-top: 25px;
   /*  background-color: white; */
    width: 100%;
    text-align: left;
    margin-left: 10px;
}

.suggerimento h1{
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
}

.copertine{
    margin-right: 25px;
}

.riga2{
    margin-top: 20px;
    /* background-color: white; */
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;
    flex-wrap: wrap;
}

/* terza riga */
.foto-cantanti{
    border-radius: 120px;
}

/* footer */
footer{
    background-color: #282828;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#titoloenomecanzone{
    /* background-color: black;  */
    width: 15%;
    display: flex;
}

#titoloenomecanzone:hover{
    cursor: pointer;
}

#immaginecanzone{
    height: 60px;
    width: 60px;
    margin-left: 20px;
    margin-top: 15px;
}

#info{
    margin-top: 25px;
}

#info span{
    font-size: 15px;
}

#mi-piace-cartella i{
    color: white;
    margin: 30px 0 20px 20px;
}

/* parte del player */
#media-player{
/*     height: 50px;*/
    width: 500px;
    /* background-color: white; */
    margin-left: 13%;
    text-align: center;
}

#media-player i{
    margin: 20px 25px;
    font-size: 25px;
    color: white;
}

/* linea della canzone */
.linea{
    width: 100%;
    height: 20px;
    /* background-color: white; */
    display: inline-block;
    display: flex;
}

.tempo{
    margin-bottom: 50px;
    font-size: 15px;
    color: white;
}

#blocco{
    width: 100%;
    height: 25%;
    background-color: gray;
    margin: 0 15px;
    border-radius: 50px;
    margin-top: 5px;
}

/* volume */
#volume{
    width: 20%;
    height: 20px;
    margin-top: 40px;
    display: flex;
}

#volume i{
    color: white;
    margin: 0 15px;
    cursor: pointer;
}

#linea-volume{
    background-color: gray;
    width: 60%;
    height: 25%;
    border-radius: 50px;
    margin-top: 5px;
}